.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-bottom: 60px;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 10px;
  background: var(--theme-color);
  & > span {
    line-height: 40px;
    color: var(--font-color-light);
    font-size: 20px;
    &.iconfont {
      font-size: 25px;
    }
  }
}

.tab {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 45px;
  background-color: var(--theme-color);
  padding: 0 10px;
  &-item {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    border-bottom: 2px solid transparent;
    transition: all 0.3s;
    color: var(--font-color-light);
    &.active {
      border-bottom-color: var(--font-color-light);
    }
  }
}
