.fly-enter,
.fly-appear {
  transform: rotateZ(30deg) translate3d(100%, 0, 0);
  transform-origin: right bottom;
}

.fly-enter-active,
.fly-appear-active {
  transition: transform 0.3s;
  transform: rotateZ(0deg) translate3d(0, 0, 0);
  transform-origin: right bottom;
}

.fly-exit {
  transform: rotateZ(0deg) translate3d(0, 0, 0);
}
.fly-exit-active {
  transition: transform 0.3s;
  transform: rotateZ(30deg) translate3d(100%, 0, 0);
  transform-origin: right bottom;
}
