.album {
  min-height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background: var(--background-color);
  color: #676969;
}

.header {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 20px;
  padding-top: 70px;
  row-gap: 30px;

  .background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    filter: blur(20px);

    &::before {
      content: "";
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(7, 17, 27, 0.2);
    }
  }

  .album-container {
    display: flex;
    column-gap: 10px;
    // margin-top: 20px;

    .cover-wrapper {
      position: relative;
      border-radius: 4px;
      overflow: hidden;
      width: 120px;
      height: 120px;

      .cover {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .decorate {
        position: absolute;
        top: 2px;
        right: 5px;
        display: flex;
        align-items: center;
        column-gap: 4px;
        font-size: 12px;
        color: rgb(241, 241, 241);

        .count {
          font-size: 12px;
          color: rgb(241, 241, 241);
        }
      }
    }

    .album-desc {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      row-gap: 20px;
      &-title {
        max-height: 70px;
        overflow: hidden;
        text-overflow: ellipsis;
        color: rgb(241, 241, 241);
        font-weight: 700;
        line-height: 1.5;
        font-size: 16px;
      }
      &-person {
        display: flex;
        align-items: center;
        column-gap: 5px;
        .avatar {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          object-fit: cover;
        }
        .songer {
          font-size: 14px;
          color: rgb(187, 168, 168);
        }
      }
    }
  }

  .menu {
    display: flex;
    justify-content: space-between;

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 14px;
      row-gap: 5px;
      color: var(--font-color-light);
    }
  }
}

.main {
  background-color: #ffffff;
  border-top-left-radius: 10px;
  overflow: hidden;

  .first-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    color: #2e3030;
    font-weight: bold;
  }

  .play-all {
    display: flex;
    align-items: center;
    font-size: 18px;
    column-gap: 10px;
    margin-left: 10px;
    .num {
      color: var(--font-color-desc-v2);
      font-size: 14px;
    }
  }

  .icon {
    font-size: 24px;
  }

  .btn {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    padding: 0 10px;

    background-color: var(--theme-color);
    color: var(--font-color-light);
    font-weight: normal;
  }
}
