.song-list {
  box-sizing: border-box;
  &-item {
    display: flex;
    // justify-content: space-between;
    height: 60px;

    &-index {
      width: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-info {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 5px 0;
      border-bottom: 1px solid rgb(228, 228, 228);

      &-name {
        font-size: 16px;
        width: 300px;
      }
      &-msg {
        font-size: 12px;
        color: var(--font-color-desc-v2);
        width: 300px;
      }
    }
  }
}
