/* 扩大可点击区域 */
.extendClick {
  position: relative;
}
.extendClick::before {
  content: "";
  position: absolute;
  top: -10px;
  bottom: -10px;
  left: -10px;
  right: -10px;
}

/* 一行文字溢出部分用... 代替 */
.text-noWrap {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* 多行文字溢出部分用... 代替 */
.text-noWrap-lines {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
