.miniPlayer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 60px;
  background-color: var(--background-color-highlight);
}

.song-info {
  display: flex;
  align-items: center;
  column-gap: 15px;

  .avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;

    &.play {
      animation: rotate 10s infinite linear;
    }

    &.pause {
      animation-play-state: paused;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 50vw;
    &-name {
      font-size: var(--font-size-m);
      color: var(--font-color-desc);
    }
    &-singer {
      font-size: var(--font-size-s);
      color: var(--font-color-desc-v2);
    }
  }
}

.song-control {
  display: flex;
  align-items: center;
  column-gap: 20px;

  .progress-circle {
    position: relative;
  }

  .icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .icon-play {
    font-size: 16px;
    color: var(--theme-color);
  }

  .icon-song {
    color: var(--theme-color);
    font-size: 25px;
  }
}

@keyframes rotate {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
