@import "@/styles/theme.scss";

.wrapper {
  max-width: 100%;
  box-sizing: border-box;
  padding: 10px;
  padding-top: 0;
  background-color: #f2f3f4;

  .title {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 45px;
    font-weight: 700;
    padding-left: 10px;
    font-size: 15px;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  row-gap: 10px;

  &-item {
    position: relative;
    width: 30%;

    .img-wrapper {
      width: 100%;
      .img {
        width: 100%;
        aspect-ratio: 1;
        object-fit: cover;
        border-radius: 3px;
        object-fit: cover;
      }

      .decorate {
        position: absolute;
        top: 0;
        width: 100%;
        border-radius: 5px;
        color: $font-color-light;
        font-size: 12px;
        padding-top: 5px;
        padding-right: 5px;
        box-sizing: border-box;

        display: flex;
        justify-content: flex-end;
        align-items: center;
        column-gap: 2px;

        .play_count {
          position: absolute;
          right: 2px;
          top: 2px;
          font-size: $font-size-s;
          line-height: 15px;

          .play {
            font-size: 18px;
          }
        }
      }
    }
    .desc {
      margin-top: 10px;
      text-align: left;
      font-size: $font-size-s;
      line-height: 1.4;
      color: $font-color-desc;

      // 多行文本溢出
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
