.playlist-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  background-color: var(--background-color-shadow);

  opacity: 0;
  transform: translate(0, 100%);

  .list-container {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 400px;
    opacity: 1;
    border-radius: 10px 10px 0 0;
    background-color: var(--background-color-highlight);
    transform: translate(0, 0);

    display: flex;
    flex-direction: column;

    .list-header {
      position: sticky;
      top: 0;
      height: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
      color: var(--theme-color);

      &-lf {
        display: flex;
        align-items: center;
        column-gap: 15px;

        .text {
          font-size: 14px;
        }
      }

      &-rg {
        float: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &-close {
      display: flex;
      height: 50px;
      background-color: var(--background-color);
      font-size: var(--font-size-l);
      color: var(--font-color-desc);
    }
  }

  .scroll-wrapper {
    flex: 1;
    height: 400px;
    overflow: hidden;
    padding: 0 20px;

    .list {
      display: flex;
      flex-direction: column;
      color: var(--font-color-desc-v2);
      font-size: var(--font-size-s);

      &-item {
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .song-text {
          margin-left: 10px;
          max-width: 280px;
          &.active {
            color: var(--theme-color-shadow);
          }
        }

        .icon {
          color: var(--theme-color);
        }

        .icon-like {
          margin-right: 15px;
          margin-left: auto;
        }
      }
    }
  }
}

.list-fade-enter {
  opacity: 0;
  transform: translate(0, 100%);
}
.list-fade-enter-active {
  opacity: 1;
  transform: translate(0, 0);
  transition: all 0.3s;
}
.list-fade-enter-done {
  opacity: 1;
  transform: translate(0, 0);
  transform: translate(0, 0);
}
.list-fade-exit {
  opacity: 1;
  transform: translate(0, 0);
}
.list-fade-exit-active {
  opacity: 0;
  transform: translate(0, 100%);
  transition: all 0.3s;
}
.list-fade-exit-done {
  opacity: 0;
  transform: translate(0, 100%);
}
