@import "@/styles/theme.scss";

.wrapper {
  box-sizing: border-box;

  &-item {
    position: fixed;
    z-index: 1000;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 60px;
    height: 60px;
    opacity: 0.6;
    border-radius: 50%;
    background-color: $theme-color;
    animation: loading 1.4s infinite ease-in;
  }

  .second {
    animation-delay: -0.7s;
  }
}

@keyframes loading {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
